Repository codeInCamelCase/ARD: changes, and which Codecov flags are due for each by the changed paths.
All: activities, adapters, fragments, interfaces, utils, models, types, viewholders, androidTest, tests

Issue #129: added .idea/codeStyleSettings.xml to .gitignore [skip ci]
  .gitignore
Due: none

Issue #129: Removed slash
  .gitignore
Due: none

Update .gitignore
  .gitignore
Due: none

Issue #133: Delete temp coverage report
  app/build.gradle
Due: none

Issue #42: Add empty Settings activity
  app/src/androidTest/java/com/macbitsgoa/ard/activities/SettingsActivityTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
  app/src/main/java/com/macbitsgoa/ard/activities/SettingsActivity.java
  app/src/main/java/com/macbitsgoa/ard/fragments/SettingsFragment.java
  app/src/main/res/layout/activity_settings.xml
  app/src/main/res/layout/content_settings.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Due: activities, fragments, androidTest

Issue #3: Add script to post apk for builds to server
  .ci/travis/apkHost.sh
  .travis.yml
Due: none

Issue #43: Add Google Sign in for authentication
  .travis.yml
  app/build.gradle
  app/google-services.json
  app/src/androidTest/java/com/macbitsgoa/ard/activities/AuthActivityTest.java
  app/src/androidTest/java/com/macbitsgoa/ard/activities/MainActivityTest.java
  app/src/androidTest/java/com/macbitsgoa/ard/fragments/HomeFragmentTest.java
  app/src/androidTest/java/com/macbitsgoa/ard/utils/BrowserTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/macbitsgoa/ard/activities/AuthActivity.java
  app/src/main/java/com/macbitsgoa/ard/activities/BaseActivity.java
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
  app/src/main/java/com/macbitsgoa/ard/helpers/AuthHelperForGoogle.java
  app/src/main/java/com/macbitsgoa/ard/keys/AuthActivityKeys.java
  app/src/main/java/com/macbitsgoa/ard/keys/UserItemKeys.java
  app/src/main/java/com/macbitsgoa/ard/models/AnnItem.java
  app/src/main/java/com/macbitsgoa/ard/models/UserItem.java
  app/src/main/java/com/macbitsgoa/ard/utils/AHC.java
  app/src/main/res/drawable/google_g.xml
  app/src/main/res/layout/activity_auth.xml
  app/src/main/res/layout/content_auth.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  app/src/test/java/com/macbitsgoa/ard/helpers/AuthHelperGoogleTest.java
  app/src/test/java/com/macbitsgoa/ard/models/UserItemTest.java
Due: activities, models, androidTest, tests

Issue #97: Use avdmanager instead of android
  .travis.yml
Due: none

Issue #32: Fix PR format checking
  .ci/travis/check_pr.sh
  .travis.yml
Due: none

Add 22 api
  .ci/travis/pastebinit.sh
  .ci/travis/startEmulator.sh
  .travis.yml
Due: none

Issue #142: Add THC for useful methods in testing
  app/src/androidTest/java/com/macbitsgoa/ard/THC.java
  app/src/androidTest/java/com/macbitsgoa/ard/activities/AuthActivityTest.java
  app/src/androidTest/java/com/macbitsgoa/ard/activities/MainActivityTest.java
  app/src/androidTest/java/com/macbitsgoa/ard/fragments/HomeAnnFragmentTest.java
Due: androidTest

Issue #146: Add set -e command to scripts to allow failure
  .ci/travis/apkHost.sh
  .ci/travis/check_pr.sh
  .ci/travis/pastebinit.sh
  .ci/travis/startEmulator.sh
Due: none

Issue #147: Added git workflow guide [skip ci]
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/git-workflow.md
  README.md
Due: none

Bump gradle dependencies for AS3
  app/build.gradle
  app/src/androidTest/java/com/macbitsgoa/ard/activities/MainActivityTest.java
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: androidTest

Bump gradle dependencies and add Roboelectric
  .travis.yml
  app/build.gradle
  app/proguard-rules.pro
  app/src/androidTest/java/com/macbitsgoa/ard/activities/AuthActivityTest.java
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: androidTest

Issue #143: Add basic structure for post details
  app/src/androidTest/java/com/macbitsgoa/ard/fragments/HomeFragmentTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/macbitsgoa/ard/activities/PostDetailsActivity.java
  app/src/main/java/com/macbitsgoa/ard/fragments/HomeFragment.java
  app/src/main/java/com/macbitsgoa/ard/interfaces/OnItemClickListener.java
  app/src/main/java/com/macbitsgoa/ard/interfaces/RecyclerItemClickListener.java
  app/src/main/java/com/macbitsgoa/ard/keys/PostKeys.java
  app/src/main/res/drawable/ic_share.xml
  app/src/main/res/drawable/ic_smiley.xml
  app/src/main/res/layout/activity_post_details.xml
  app/src/main/res/layout/content_post_details.xml
  app/src/main/res/layout/frame_comment.xml
  app/src/main/res/layout/frame_share.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  config/checkstyle/checkstyle.xml
  config/checkstyle/suppressions.xml
Due: activities, fragments, interfaces, androidTest

Issue #158: Add search bar in Home Fragment
  app/build.gradle
  app/src/androidTest/java/com/macbitsgoa/ard/activities/MainActivityTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
  app/src/main/java/com/macbitsgoa/ard/activities/SearchActivity.java
  app/src/main/java/com/macbitsgoa/ard/fragments/HomeFragment.java
  app/src/main/res/animator/lift_on_touch.xml
  app/src/main/res/drawable/ic_menu.xml
  app/src/main/res/drawable/ic_search.xml
  app/src/main/res/drawable/ic_voice_search.xml
  app/src/main/res/layout/activity_search.xml
  app/src/main/res/layout/app_bar_main.xml
  app/src/main/res/layout/content_main.xml
  app/src/main/res/layout/fragment_home_content.xml
  app/src/main/res/layout/frame_search.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
  build.gradle
Due: activities, fragments, androidTest

Issue #169: message width will increase till 80% of screen width; done some refactoring in chatMsgAdapter, chatMsgViewHolder; added content description for status
  app/src/main/java/com/macbitsgoa/ard/adapters/ChatMsgAdapter.java
  app/src/main/java/com/macbitsgoa/ard/utils/AHC.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/ChatMsgViewHolder.java
  app/src/main/res/layout/vh_activity_chat_chatmsg.xml
  app/src/main/res/layout/vh_activity_chat_chatmsg_receiver.xml
  app/src/main/res/layout/vh_activity_chat_chatmsg_sender.xml
  app/src/main/res/values/strings.xml
Due: adapters, viewholders

Issue #173 : max width of messageTv is now set in `onCreateViewHolder`
  app/src/main/java/com/macbitsgoa/ard/adapters/ChatMsgAdapter.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/ChatMsgViewHolder.java
  app/src/main/res/layout/vh_activity_chat_chatmsg.xml
Due: adapters, viewholders

fixes #184 The adapter was probably gets unset from recycler view after onStop()
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
  app/src/main/java/com/macbitsgoa/ard/fragments/ForumFragment.java
  app/src/main/java/com/macbitsgoa/ard/fragments/forum/GeneralFragment.java
  build.gradle
Due: activities, fragments

fixed issue #181
  app/src/main/java/com/macbitsgoa/ard/fragments/HomeFragment.java
  app/src/main/res/layout/fragment_home.xml
Due: fragments

Issue #167 Fragments will be remembered on orientation change
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
Due: activities

Issue #189: Implemented fragment recency list.
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
Due: activities

Issue #193: TextItems and PhotoItems corresponding to HomeItem are deleted from Realm before updating them to avoid duplication.
  app/src/main/java/com/macbitsgoa/ard/models/home/HomeItem.java
  app/src/main/java/com/macbitsgoa/ard/services/HomeService.java
Due: models

fixes Issue #177 See
  .idea/inspectionProfiles/ard.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/macbitsgoa/ard/services/NotificationService.java
Due: none

fixed wrong command in git-workflow.md
  .github/git-workflow.md
Due: none

fix wrong command in git-workflow.md
  .github/git-workflow.md
Due: none

Added me :)
  tanmay.txt
Due: none

material design for faq items
  app/build.gradle
  app/src/main/java/com/macbitsgoa/ard/adapters/ForumAdapter.java
  app/src/main/java/com/macbitsgoa/ard/fragments/forum/GeneralFragment.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/FaqViewHolder.java
  app/src/main/res/layout/vh_faq.xml
  app/src/main/res/layout/vh_fg_forum_general.xml
  app/src/main/res/values/attrs.xml
  build.gradle
Due: adapters, fragments, viewholders

Fixed #182:Hide appbar in landscape orientation
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/macbitsgoa/ard/fragments/HomeFragment.java
Due: fragments

Copy Faq's to clipboard
  app/src/main/java/com/macbitsgoa/ard/adapters/ForumAdapter.java
  app/src/main/java/com/macbitsgoa/ard/fragments/forum/GeneralFragment.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/FaqViewHolder.java
Due: adapters, fragments, viewholders

Fixed BottomNavigationView and Added Details Tab
  app/build.gradle
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
  app/src/main/java/com/macbitsgoa/ard/fragments/DetailFragment.java
  app/src/main/java/com/macbitsgoa/ard/types/MainActivityType.java
  app/src/main/res/drawable/ic_list_24dp.xml
  app/src/main/res/layout/fragment_detail.xml
  app/src/main/res/menu/menu_activity_main_bottom_nav.xml
  app/src/main/res/values/strings.xml
Due: activities, fragments, types

Added Details Fragment
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
  app/src/main/java/com/macbitsgoa/ard/adapters/DetailsAdapter.java
  app/src/main/java/com/macbitsgoa/ard/fragments/DetailFragment.java
  app/src/main/java/com/macbitsgoa/ard/fragments/DetailsFragment.java
  app/src/main/java/com/macbitsgoa/ard/models/DetailsItem.java
  app/src/main/java/com/macbitsgoa/ard/models/DetailsItemUser.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/DetailsViewHolder.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/DetailsViewHolderUser.java
  app/src/main/res/drawable/ic_power_settings_new_black_24dp.xml
  app/src/main/res/layout/fragment_detail.xml
  app/src/main/res/layout/vh_details_main.xml
  app/src/main/res/layout/vh_details_user.xml
Due: activities, adapters, fragments, models, viewholders

Added UserData in DetailRecyclerView
  app/src/main/java/com/macbitsgoa/ard/adapters/DetailsAdapter.java
  app/src/main/java/com/macbitsgoa/ard/adapters/ForumAdapter.java
  app/src/main/java/com/macbitsgoa/ard/fragments/DetailsFragment.java
  app/src/main/java/com/macbitsgoa/ard/fragments/ForumFragment.java
  app/src/main/java/com/macbitsgoa/ard/fragments/forum/GeneralFragment.java
  app/src/main/java/com/macbitsgoa/ard/models/DetailsItem.java
  app/src/main/java/com/macbitsgoa/ard/models/DetailsItemUser.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/DetailsViewHolder.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/DetailsViewHolderUser.java
  app/src/main/java/com/macbitsgoa/ard/viewholders/FaqViewHolder.java
  app/src/main/res/layout/vh_details_main.xml
  app/src/main/res/layout/vh_details_user.xml
Due: adapters, fragments, models, viewholders

Minor Fixes
  app/src/main/java/com/macbitsgoa/ard/fragments/ForumFragment.java
  app/src/main/res/values/strings.xml
Due: fragments

Fixed #210: disable screen rotation in authActivity
  app/src/main/AndroidManifest.xml
Due: none

fix #221
  app/src/main/java/com/macbitsgoa/ard/activities/MainActivity.java
Due: activities

Added About Mac Activity
  app/src/main/java/com/macbitsgoa/ard/fragments/DetailsFragment.java
  app/src/main/res/drawable/android.webp
  app/src/main/res/drawable/ic_circular_view.xml
  app/src/main/res/drawable/ic_mail_black_24dp.xml
  app/src/main/res/layout/fragment_detail.xml
  app/src/main/res/layout/view_developers.xml
  app/src/main/res/values/styles.xml
Due: fragments

Fixed #220
  app/src/main/java/com/macbitsgoa/ard/fragments/HomeFragment.java
Due: fragments

Path conditions:
  activities: any of: app/src/main/.*/activities/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  adapters: any of: app/src/main/.*/adapters/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  fragments: any of: app/src/main/.*/fragments/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  interfaces: any of: app/src/main/.*/interfaces/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  utils: any of: app/src/main/.*/utils/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  models: any of: app/src/main/.*/models/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  types: any of: app/src/main/.*/types/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  viewholders: any of: app/src/main/.*/viewholders/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  androidTest: any of: app/src/androidTest/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
  tests: any of: app/src/test/, but not: app/src/main/.*/utils, app/src/main/java/com/macbitsgoa/ard/keys, io/realm/**/*
